<?xml version="1.0" encoding="UTF-8"?>
<configuration status="WARN">
    <appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %F - %msg%n"/>
        </Console>

        <File name="MyFile" fileName="C:\Onbox\Learning\apps\cardealer\basic_car_service_api\logs\warnLog.log">
            <PatternLayout pattern="%d{yyyy-mm-dd HH:mm:ss.SSS} [%t] %-5level %F - %msg%n"/>
        </File>
    </appenders>

    <loggers>
        <root level="info">
            <appender-ref ref="Console" level="info"/>
            <appender-ref ref="MyFile" level="warn"/>
        </root>
    </loggers>
</configuration>